/* Disable scrolling */
html { overflow: hidden; }

body {
  background: #FFF;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 1.2em;
}

/* Loading page */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center {
  text-align: center !important;
}

#mainContent {
  display: none;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  background-image: url(../images/bg-wallpaper.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opening {
  background-color: transparent;
  color: white;
  text-align: left;
  margin-top: 10em;
  padding-left: 5em;
}

#btnStartContainer {
  display: none;
  margin: 5em;
}
#btnStartContainer button {
  padding: 1em 2em;
  border-color: #B80008;
  border-radius: 0.5em;
  background-color: #C2000B;
  color: #FFF;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 0.2em 0.2em 0.5em #888888;
}
#btnStartContainer button:hover {
  background-color: #9F0E15;
  cursor: pointer;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}

#slider {
  display: none;
}

#anotherSlider {
  display: none;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  background-image: url(../images/10.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: background 2s ease-in;
  transition: background 2s ease-in;
}

#svgTextContainer {
  display: block;
  position: absolute;
  padding: 2em;
  top: 2em;
  right: 2em;
  font-size: 1.2em;
  color: #180403;
  background-color: #FF726E70;
  border-radius: 0.3em;
  border: 0.2em solid #FD666233;
  width: 15em;
  height: auto;
}

[id^="circle"] {
  cursor: pointer;
}

/* Make unavailable for Mobile ----------- */
#forMobile {
  display: none;
}
@media only screen and (max-width: 760px) {
  #forMobile {
    display: block;
  }
  #btnStartContainer button { display: none; }
  #snowflakeContainer { display: none; }
}